@mixin board-wrap{
	background-color: #edf8f0;
	header{
		width: 100%;
		display: flex;
		padding-top: 46px;
		justify-content: center;
		>img{
			width: 42px;height: 42px;margin: 2px 5px 2px 0;
		}
		.shop-info{margin-left: 5px;display: flex;flex-direction: column;}
		.title{font-size: 16px;color: #333;padding-bottom: 5px;flex: 1;}
		.intro{
			font-size: 12px;
			color: #aaa;
			flex: 1;
			.icon{
				background-color: #cad7ce;
				padding: 2px;
				font-size: 9px;
				border-radius: 3px;
				color: #fff;
			}
		}
	}
	.logo-wrap{
		position: absolute;
		width: 100%;
		bottom: 232px;
		padding-bottom: 20px;
		text-align: center;
		>img{
			width: 49%;
		}
	}
	.input-wrap{
		width: 100%;
		padding: 40px 15px 0;
		.input-area{
			width: 100%;
			padding: 20px;
			font-size: 20px;
			background-color: #fff;
			border-radius: 3px;
			display: flex;
			justify-content: space-between;
			.money{font-family:Arial;}
			&::after{border-radius: 7px;}
		}
		@keyframes twinkling {
			/*透明度由0到1*/
			0% {
				opacity: 0;
				/*透明度为0*/
			}
			100% {
				opacity: 1;
				/*透明度为1*/
			}
		}

		.gb {
			animation: twinkling 1s infinite ease-in-out;
			background-color: black;
			width: 2px;
			display: inline-block;
			height: 26px;
			vertical-align: bottom;
		}
	}
	.num-board{width: 10rem;}
}